body {
	margin: 0;
	font-family: "Poiret One", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	p,
	li,
	label,
	input,
	textarea {
		font-family: "Lato", sans-serif;
		color: #2d2d2d;
	}
	h2 {
		font-weight: 900;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.col-3 {
		@include for-phone-only {
			display: none;
		}
	}
}

code {
	font-family: "Poiret One", cursive;
}

#root {
	border: 25px solid #d4cfcf;
	min-height: 100vh;
	overflow: auto;
	@include for-phone-only {
		border: 10px solid #d4cfcf;
	}
}

.App {
	text-align: center;
	padding: 15px;
	max-height: -webkit-fill-available;
}

.nav {
	text-transform: uppercase;
	letter-spacing: 3px;
	justify-content: center;
	& a {
		@include for-phone-only {
			padding: 8px;
			font-size: 12px;
		}
	}
}

nav.galleryTabs.nav.nav-tabs {
	padding-top: 15px;
	margin-bottom: -12px;
	border-bottom: transparent;
	a.active,
	a:hover {
		border: 0px solid transparent;
		background-color: transparent;
		text-decoration: underline;
		text-decoration-color: #49505782;
	}
}

#name {
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 0.5em;
}

#subheading {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 1.5em;
}

.tab-content {
	@include for-desktop-up {
		padding: 30px;
	}
	@include for-phone-only {
		padding: 10px 0px 0px 0px;
		margin-bottom: 5px;
	}
	@include for-tablet-portrait-up {
		padding: 15px;
	}
}
