.App {
  text-align: center;
  padding: 15px;
}

.nav{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tab-content{
  padding: 30px;
}

#name{
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: .5em;
}

#subheading{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.5em;
}

#headshot{
  height: 150px;
  border-radius: 50%;
  margin-top: 5px;
}

.about{
  &_heading{
    text-transform: uppercase;
    padding-left: 40px;
    letter-spacing: 2px; 
    font-size: 19px;
    font-weight: 600;
    &_top{
      padding-left: 25px;
      text-transform: uppercase;
      letter-spacing: 2px; 
      font-size: 19px;
      font-weight: 600;
      text-align: left;
    }
  }
  &_text_bio{
    text-align: left;
    padding-left: 25px;
  }
  &_text, &_heading{
    text-align: left;
    &#recent{
      padding-left: 40px;
    }
  }
  &_list{
    list-style: none;
    text-align: left;
  }
  &_row{
    padding-top: 15px;
  }
  &_col{
    padding: 0px;
  }
}

.gallery{
  &_row{
    display: flex;
    flex-wrap: wrap;
  }
  &_col{
    flex: 20%;
    max-width: 160px;
    padding-left: 1px;
    padding-right: 1px;
  }
  &_img{
    margin-top: 8px;
    vertical-align: middle;
    width: 150px;
    height: 150px;
  }
  &_carousel{
    max-width: 700px;
    width: 700px;
    height: 700px;
  }
}