@media screen and (max-width: 379px) {
  .nav a{
    padding: 8px;
  }
  #root{
    border: 10px solid #d4cfcf;
  }
  .gallery_row{
    flex-direction: column-reverse;
  }
  .gallery_carousel {
    width: 340px;
    height: 340px;
  }
  .tab-content{
    padding: 10px 0px 0px 0px;
  }
  .col-3{
    display: none;
  }
  .about_list{
    padding-right: 17px;
    font-size: 14px;
  }
  .about_text_bio{
    font-size: 14px;
  }
}

@media screen and (min-width: 380px) {
  .gallery_carousel {
    width: 100%;
    height: 100%;
    max-width: 660px;
    max-height: 660px;
  }
  .tab-content {
    padding: 15px;
  }
  #inline_headshot{
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .gallery_img {
    height: 75px;
    width: 75px;
  }
}


@media screen and (min-width: 800px) {
  .gallery_carousel {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    min-width: 700px;
    min-height: 700px;
    margin-top: 5px;
  }
  .tab-content {
    padding: 30px;
  }
}

